@import '../../styles/global.scss';

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - $header-height);
  &__caption {
    margin: 26px 0 28px 0;
    font-size: 13px;
    letter-spacing: normal;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__create {
    margin: 24px 0 40px 0;
    font-size: 13px;
    letter-spacing: normal;
    span {
      color: var(--secondary-light-color);
    }
    a:hover {
      color: var(--hover-color);
    }
  }
}
