@import '../../styles/global.scss';

.toolbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d0d0d0;
  &__layoutSwitcher {
    display: flex;
    padding: 18px 27px;
  }
  &__switcher {
    cursor: pointer;
    svg {
      display: block;
      width: 18px;
      height: 18px;
      margin: 0 6px;
      fill: var(--secondary-light-color);
      &:hover {
        fill: var(--secondary-color);
      }
    }
  }
}

.content {
  display: flex;
  padding: 0 0 35px 0;
}

.noProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 1.5rem;
  text-transform: uppercase;
}
