$container-width: 1800px;
$header-height: 91px;

.container {
  width: $container-width;
  margin: 0 auto;
}

.main {
  padding-top: $header-height;
}

.title2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
}

.title3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
}
