.container {
  width: 1800px;
  margin: 0 auto;
}

.title2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
}

.title3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
}
