@import '../../styles/global.scss';

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - $header-height);
  &__caption {
    margin: 26px 0 28px 0;
    font-size: 13px;
    letter-spacing: normal;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__inputWrapper {
    position: relative;
  }
  &__showPassword {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 11px;
    left: calc(100% - 40px);
    top: 0;
    cursor: pointer;
    &:hover svg {
      fill: var(--secondary-color);
    }
    & svg {
      fill: var(--secondary-light-color);
    }
  }
  &__input {
    width: 400px;
    margin: 0 0 15px 0;
  }
}
