@import '../../styles/global.scss';

.brands {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.slider {
  padding: 40px 0;
  &__header {
    margin: 0 0 20px 0;
    text-align: center;
  }
  &__btn {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
  }
}
