@import '../../styles/global.scss';

.productPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 65px 0;
}

.modal {
  display: flex;
  flex-direction: column;
  &__title {
    margin: 0 0 10px 0;
  }
  &__model {
    margin: 0 0 30px 0;
  }
}

.images {
  display: flex;
  flex-direction: column;
}

.img {
  width: 500px;
  height: 500px;
  &:first-child img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  &:last-child img {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
}

.info {
  position: sticky;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 0 0 50px;
  top: $header-height + 65px;
  &__brand,
  &__sku {
    text-transform: uppercase;
  }
  &__sku,
  &__price,
  &__description {
    color: var(--secondary-light-color);
  }
  &__brand {
    margin: 0 0 20px 0;
    font-size: 0.75rem;
  }
  &__model {
    font-size: 1.125rem;
    line-height: 1.4;
  }
  &__price {
    font-size: 1rem;
    margin: 20px 0 20px 0;
  }
  &__size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;
  }
  &__fitGuide {
    padding: 0 0 2px 0;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
    border-bottom: 1px dashed;
    cursor: pointer;
  }
  &__sizeList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0 0 15px 0;
  }
  &__sizeItem {
    display: none;
    &:checked+label {
      background-color: var(--neutral-color);
      color: var(--neutral-additional-color);
      border: 1px solid var(--neutral-color);
    }
    &+label:hover {
      border: 2px solid;
    }
    &+label {
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 0.1rem;
      width: 50px;
      height: 30px;
      border: 1px solid;
      font-weight: 600;
      cursor: pointer;
    }
    &:disabled+label {
      color: var(--grey-200);
      border: 1px solid var(--grey-200);
      font-weight: 400;
      user-select: none;
      cursor: auto;
    }
  }
  &__subscription {
    text-align: start;
    letter-spacing: normal;
    margin: 0 0 30px 0;
    &:hover {
      color: var(--hover-color);
      cursor: pointer;
    }
  }
  &__description {
    margin: 30px 0 0 0;
    letter-spacing: normal;
    line-height: 165%;
  }
  &__additionList {
    margin: 0 0 0 15px;
    letter-spacing: normal;
    list-style: disc;
    line-height: 165%;
  }
  &__additionItem {
    margin: 10px 0 0 0;
  }
}