@import '../../styles/global.scss';

.header {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: var(--primary-light-color);
  color: var(--secondary-color);
  border-bottom: 1px solid #ddd;
}

.container {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
  &__logo {
    line-height: 0;
    margin: 0 15px 0 0;
  }
}

.list {
  display: flex;
}

.userbar {
  display: flex;
  align-items: center;
}

.item {
  padding: 37px 0;
  cursor: pointer;
}

.link {
  position: relative;
  padding: 37px 21px;
  text-transform: uppercase;
  &::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    top: calc(100% - 3px);
    left: 21px;
    background-color: var(--secondary-color);
    transition: all 0.2s linear;
  }
  &:hover::before {
    width: calc(100% - 42px);
  }
}

.active {
  &::before {
    width: calc(100% - 42px);
  }
}

.themeSwitcherWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
  // background-color: var(--hover-additional-color);
}

.themeSwitcherCaption {
  letter-spacing: 0.5px;
  text-align: center;
  font-size: 12px;
  margin: 0 0 5px 0;
}

.themeSwitcher {
  position: relative;
  display: inline-block;
  // width: 60px;
  // height: 24px;
  input {
    display:none;
  }
  // input:checked + &__btn:before {
  //   transform: translateX(36px);
  // }
  input:checked + &__btn {
    background: url('../../assets/icons/theme/moon.svg') no-repeat center;
    background-size: cover;
  }
  &__btn {
    width: 35px;
    height: 35px;
    background: url('../../assets/icons/theme/sun.svg') no-repeat center;
    background-size: cover;
    transition: all 1s;
    cursor: pointer;
  }
  // &__btn {
  //   position: absolute;
  //   cursor: pointer;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   border-radius: 34px;
  //   background-color: var(--secondary-light-color);
  //   transition: 0.4s;
  //   &:before {
  //     position: absolute;
  //     content: "";
  //     height: 16px;
  //     width: 16px;
  //     left: 4px;
  //     bottom: 4px;
  //     border-radius: 50%;
  //     background-color: var(--primary-light-color);
  //     transition: 0.4s;
  //   }
  // }
}
