@import '../../styles/global.scss'; 

.footer {
  padding: 40px 0;
  background-color: var(--primary-light-color);
  border-top: 1px solid #ddd;
  font-size: 13px;
  // color: var(--secondary-light-color);
}

.content {
  display: flex;
  justify-content: space-between;
}

.list {
  li {
    margin: 0 0 12px 0;
  }
  a {
    letter-spacing: 0;
    &:hover {
      color: var(--secondary-color);
    }
  }
}

.title3 {
  margin: 0 0 20px 0;
}

.listItem {
  color: var(--secondary-light-color);
  &:hover svg {
    fill: var(--secondary-color); 
  }
  a {
    display: flex;
    align-items: center;
  }
  svg {
    width: 15px;
    height: 15px;
    fill: currentColor;
  }
  span {
    margin: 0 0 0 10px;
  }
}

.newsLetter {
  &__input {
    margin: 0 0 5px 0;
  }
}

.author {
  margin: 50px 0 0 0;
  letter-spacing: 0.05rem;
}
