.cartItem {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #d0d0d0;
  &__product {
    display: flex;
    max-width: 70%;
    width: 100%;
  }
  &__quantity,
  &__price {
    max-width: 15%;
    width: 100%;
  }
  &__img {
    width: 150px;
    height: 120px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
      border-radius: 10px;
    }
  }
  &__info {
    margin: 0 0 0 20px;
    flex: 1;
  }
  &__brand {
    font-size: 1rem;
    margin: 0 0 10px;
  }
  &__model {
    font-size: 1.2rem;
    margin: 0 0 20px;
  }
  &__size {
    color: var(--secondary-light-color);
  }
  &__quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary-light-color);
  }
  &__remove {
    position: relative;
    padding: 15px 0 2px 0;
    text-transform: uppercase;
    font-size: 0.625rem;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #909090;
      left: 0;
      top: 100%;
      transition: all 0.5s;
    }
    &:hover::before {
      width: 0;
    }
  }
  &__price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--secondary-light-color);
  }
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  font-size: 0.75rem;
  border: 1px solid #d0d0d0;
  &__minus, &__plus {
    padding: 7px 14px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      color: var(--secondary-color);
    }
  }
}