.doubleInput {
  position: relative;
  &__slider {
    height: 18px;
  }
  &__values {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
    input {
      text-align: center;
      height: 30px;
      width: 70px;
      font-size: 0.875rem;
      background-color: var(--primary-light-color);
      color: var(--neutral-color);
      border: none;
      border-radius: 5px;
      letter-spacing: 0.15rem;
    }
    input:focus {
      outline: none;
      border: 1px solid var(--neutral-color); 
    }
  }
  &__thumb {
    -webkit-appearance: none;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    outline: none;
  }
  &__thumb::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    visibility: visible;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 1px solid var(--neutral-color);
    height: 18px;
    width: 18px;
    pointer-events: all;
    cursor: pointer;
  }
  &__sliderRange {
    position: relative;
    height: 5px;
    width: 95%;
    margin: 0 auto;
    z-index: -1;
    top: 6px;
    background-color: var(--white);
    border-radius: 3px;
  }
  &__sliderTrack {
    position: relative;
    height: 100%;
    background-color: var(--neutral-color);
  }
}
